{% extends "document_base.html" %}
{% block title %}CMSC {{ course_number }}: Assignment Three{% endblock %}
{% block extra_style %}
<style>
    .inset {
        margin: 50px;
        border: 1px solid black;
        padding: 50px;
        background: rgba(0.5, 0.5, 0.5, .05);
    }
    .optional td {
        color: #999;
    }

</style>
{% endblock %}

{% block body %}
<h1>Assignment 4</h1>
<h2>Django Tutorial</h2>
<hr>
<img src="images/django-pony.png" width="500" style="float: right">
<p><strong>Due Date</strong>: Wednesday, November 4th, 11:59:59 PM
<p><strong>Value</strong>: 150 points<br>
<p><strong>Github Invite</strong>: <a href="https://classroom.github.com/a/noj1IwSZ">Click Here</a></p>
<p><strong>Collaboration</strong>: For Assignment 4, <em>collaboration is not allowed</em>; you must work individually.
    You may still see your TA and come to office hours for help, but you may not work with any other CMSC 291 students. You may post questions on Slack, <strong>but you may not post code</strong>.</p>
<h2>Objectives:</h2>
<ul>
    <li>Get a simple Django project working</li>
    <li>Reinforce web development concepts</li>
</ul>

<h2>Instructions</h2>

<p>In this assignment, you will be asked to complete the tutorial featured in the Django project's documentation.
    You should start with <a href="https://docs.djangoproject.com/en/3.1/intro/tutorial01/">part 1</a> of the tutorial and continue through part 4. You may skip part 5 and 7 but must complete part 6.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tutorial Section</th>
            <th>Required?</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial01/">Part 1: Creating a new project</a></td>
        <td>Required</td>
    </tr>
    <tr>
        <td>2.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial02/">Part 2: Creating models &amp; using the admin</a></td>
        <td>Required</td>
    </tr>
    <tr>
        <td>3.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial03/">Part 3: Creating views &amp; templates</a></td>
        <td>Required</td>
    </tr>
    <tr>
        <td>4.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial04/">Part 4: Working with forms</a></td>
        <td>Required</td>
    </tr>
    <tr class="optional">
        <td>5.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial05/">Part 5: Automated testing</a></td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>6.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial06/">Part 6: Static media</a></td>
        <td>Required</td>
    </tr>
    <tr class="optional">
        <td>7.</td>
        <td><a href="https://docs.djangoproject.com/en/3.1/intro/tutorial07/">Part 7: Customizing the admin</a></td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>

<h2>Grading</h2>
<p>You will be doing a 1:1 Google Hangout or Discord Session with your TA, Agatha. You will then run your project and
    navigate around your sample web app, demonstrating that it works.  Don't worry! You will not be judged for any
    criteria beyond "does it work?" and "is this all the stuff covered in the tutorial?"
</p>

<h2>Grading Rubric</h2>
<table class="table">
        <tbody>
                <tr>
                    <td>Do the tutorial parts 1-4 and 6</td>
                    <td>150 points</td>
                </tr>
                <tr>
                    <td>Extra credit: do parts 5 &amp; 7 of the tutorial</td>
                    <td>20 points</td>
                </tr>
        </tbody>
</table>
{% endblock %}
