<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="dist/theme/solarized.css">
	    <link rel="stylesheet" href="dist/bootstrap.css">
        <link rel="stylesheet" href="dist/base.css">
        <link rel="stylesheet" href="dist/document.css">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		{% block extra_style %}{% endblock %}
	</head>
	<body>
    <div class="container">
    {% block body %}{% endblock %}
    </div>      
	</body>
</html>