{% extends "document_base.html" %}
{% block title %}CMSC 291: Table of Contents{% endblock %}
{% block body %}
        <h1>CMSC 291</h1>
        <h2>Continued Computer Science for Non-majors: Fall 2020</h2>
        <hr>
        <h2>Useful Links</h2>
        <ul>
            <li><a href="https://highpoint-prd.ps.umbc.edu/app/catalog/classsection/UMBC1/2208/2737">Course Catalog Listing</a></li>
            <!--li><a href="https://www.csee.umbc.edu/~benj1/291/s20/">Spring 2020 Course Website</a></li>
            <li><a href="https://drive.google.com/drive/folders/1lwS_ZSEtk_8cQY-huF-dqb3qB7A5UcOr?usp=sharing">Spring 2020 Google Drive Docs</a></li-->
            <li><a href="calendar.html">Course Calendar</a></li>
            <li><a href="coding_standards.html">Python Coding Standards</a></li>
            <li><a href="https://docs.google.com/document/d/1cvGLQznbhoxMKBWzZeOqzpQWyv2WdPuWRvKsqATwrL0/edit?usp=sharing">Course Syllabus</a></li>
            <li><a href="https://blackboard.umbc.edu/webapps/blackboard/execute/courseMain?course_id=_60213_1">Blackboard: Course Home</a></li>
        </ul>
        <h2>Course Staff</h2>
        <h3>James Stevenson</h3>
        <dl class="row">
            <dt class="col-sm-2">Role:</dt>
            <dd class="col-sm-9">Professor</dd>
            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-9">gl26499@umbc.edu</dd>
            <dt class="col-sm-2">Office Hours:</dt>
            <dd class="col-sm-9">Monday 5:30 - 6:45 (by appointment)</dd>
        </dl>
        <h3>Agatha Turyahikayo</h3>
        <dl class="row">
            <dt class="col-sm-2">Role:</dt>
            <dd class="col-sm-9">Teaching Assistant</dd>
            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-9">agatha3@umbc.edu</dd>
            <dt class="col-sm-2">Office Hours:</dt>
            <dd class="col-sm-9">TBD</dd>
        </dl>
        <h2>Lecture Topics</h2>
        <ol>
            <li><a href="lecture_01.html">Course overview &amp; python review</a> — August 27</li>
            <li><a href="lecture_02.html">Fancy python</a> — September 1</li>
            <li><a href="installation_guide.html">Installfest</a> — September 3</li>
            <li><a href="lecture_03.html">Local development &amp; Git</a> — September 8</li>
            <li><a href="lecture_04.html">Types, Classes, &amp; objects</a> — September 10</li>
            <li><a href="lecture_05.html">Object-Oriented Programming</a> — September 15</li>
            <li><a href="https://github.com/mazelife/cmsc-291/blob/master/cmsc_291/examples/lecture_07/war.py">Object-oriented Programming Design Lab</a> — September 17</li>
            <li><a href="lecture_06.html">Python Packaging</a> - September 22</li>
            <li><a href="lecture_07.html">Data formats &amp; plotting</a> — September 29</li>
            <li><a href="lecture_10.html">Exploratory Data Analysis</a> — October 1</li>
            <li><a href="https://github.com/mazelife/cmsc-291/tree/master/cmsc_291/examples/lecture_11">Design Lab: Data Viz Project</a> — October 6</li>
            <li><a href="lecture_12.html">HTML</a> — October 8</li>
            <li><a href="lecture_13.html">CSS</a> — October 13</li>
            <li><a href="lecture_14.html">Web Scraping</a> — October 15</li>
            <li><a href="lecture_15.html">Web scraping: Design Lab</a> — October 20</li>
            <li><a href="lecture_16.html">Generators, Decorators, and List Comprehensions</a> — October 22</li>
            <li><a href="lecture_17.html">Web development</a> — October 27</li>
            <li>Web development with Django — October 29</li>
            <!--li><a href="lecture_11.html">Databases &amp; models</a> — November 5</li>
            <li><a href="lecture_12.html">Grab bag!</a> — November 10</li>
            <li><a href="lecture_13.html">Whirlwind tour of ML</a> — November 19</li>
            <li><a href="lecture_14.html">Machine learning with SKLearn</a> — November 24</li>
            <li><a href="lecture_15.html">What's next?</a></li-->
        </ol>
        <h2>Assignments</h2>
        <ol>
            <li><a href="assignment_01.html">Python Review</a></li>
            <li><a href="assignment_02.html">Grittify</a></li>
            <li><a href="assignment_03.html">Ramen Time</a></li>
        </ol>
{% endblock %}
