{% extends "slides_base.html" %}
{% block title %}CMSC 291: Lecture 5{% endblock %}
{% block slides %}
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet"> 
<section id="title">
	<h2>Lecture 5</h2>
    <h2>Object-Oriented Programming &amp; Debugging</h2>
</section>
<section id="oop">
    <h3>(OOP)</h3>
</section>
<section id="announcements">
    <h2>Announcements</h3>
    <ul>
        <li>Assignment two will be out soon.</li>
        <li>That is all.</li>
    </ul>
</section>
<section id="product-types-review-1">
    <p>Remember how we talked about how tuples, dictionaries, and classes share some similarities?<br>And how they can all be used define heterogenous types?</p>
</section>
<section id="product-types-review-2">
    <p>But I also said:</p>
    <p><span style="font-size: 125%; font-style: italic;">"Think of classes as tuples/dictionaries+++"</span><div style="text-align: right">—me</span></p>
</section>
<section id="product-types-review-3">
    <p>Notice how our class has methods that belong to it.
    <p>These methods operate on the data that the instance contains.</p>
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        class Transfer:

            def __init__(self, sender, reciever, amount, date=datetime.now()):
                self.sender = sender
                self.reciever = reciever
                self.amount = amount
                self.date = date
                self.processing_fee_applied = False

            def days_ago(self):
                time_delta = datetime.now() - self.date
                return time_delta.days

            def apply_processing_fee(fee=Decimal("0.25")):
                self.amount = self.amount + fee
                self.processing_fee_applied = True
    </code></pre>      
</section>
<section id="encapsulation-1">
    <h3>This is called <em>encapsulation</em>.</h3>
    <ul>
        <li>Lets us bundle data <em>with</em> methods that operate on it</li>
        <li>Methods provide an interface to simplify computations on object data:
            <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
                def days_ago(self):
                    time_delta = datetime.now() - self.date
                    return time_delta.days
            </code></pre>               
        </li>
        <li>Methods hide complicated, internal implementation details:
            <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
                def apply_processing_fee(fee=Decimal("0.25")):
                    self.amount = self.amount + fee
                    self.processing_fee_applied = True
        </code></pre>                
        </li>
   </ul>
</section>
<section id="encapsulation-2">
    <p>In a nutshell, encapsulation means binding data and behaviors together in a single unit: the class.</p>
    <!-- Keeping things that go together in the same place makes life easier. Your data and your behaviors are always grouped together. -->
    <img src="images/capsule.png" width="350">
</section>
<section id="encapsulation-3">
    <img src="images/encapsulation-strength-scale.png" width="500">
    <p>In Python (unlike some languages) class variables can never be 100% encapsulated.</p>
</section>
<section id="encapsulation-4">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        # Given:
        t1 = Transfer("Bob", "Sally", Decimal(35.50), datetime(2019, 10, 1))       
        
        # Valid:
        t1.amount = Decimal("10000000000.02")
        # Valid:
        del t1.sender

        # In fact...
        t1.any_property_you_feel_like = 12345
    </code></pre>    
</section>

<section id="inheritance">
    <h2>Inheritance</h2>
</section>
<section id="pet-store">
    <p>Let's say you're opening a pet store. The pet store of the future, where everything is run by computer...</p>
    <h3 style="font-family: 'Gugi', Courier;">RoboPet</h3>
</section>
<section id="pet-store-cats-attrs">
    <p>We will sell cats, so out system must track them and care for them. What are some attributes of cats?</p>
    <img src="images/cat.svg" width=200 height=200>
    <ul>
        <li>Age</li>
        <li>Weight</li>
        <li>Sex</li>
        <li>Breed</li>
    </ul>
</section>
<section id="pet-store-cats-methods">
    <p>How do we care for cats?</p>
    <img src="images/cat.svg" width=200 height=200>
    <ul>
        <li>Feed them</li>
        <li>Brush them</li>
        <li>Change their litter</li>
    </ul>
</section>
<section id="cat-class">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        class Cat:

            def __init__(self, age, weight, sex, breed):
                self.age = age
                self.weight = weight
                self.sex = sex
                self.breed = breed

            def feed(self, scoops=1):
                ...

            def brush():
                ...
            
            def change_litter(self):
                ...
    </code></pre>      
</section>
<section id="pet-store-dogs-attrs">
    <p>We will also sell dogs, so our system must track them and care for them too. What are some dog attributes?</p>
    <img src="images/dog.svg" width=200 height=200>
    <ul>
        <li>Age</li>
        <li>Weight</li>
        <li>Sex</li>
        <li>Breed</li>
        <li>Is housebroken?</li>
    </ul>
</section>
<section id="pet-store-dogs-methods">
    <p>How do we care for dogs?</p>
    <img src="images/dog.svg" width=200 height=200>
    <ul>
        <li>Feed them</li>
        <li>Brush them</li>
        <li>Walk them</li>
    </ul>
</section>
<section id="dog-class">
    <pre style="font-size: 40%"><code class="hlpython" data-trim data-line-numbers>
        class Dog:

            def __init__(self, age, weight, sex, breed, housebroken=True):
                self.age = age
                self.weight = weight
                self.sex = sex
                self.breed = breed
                self.housebroken = housebroken

            def feed(self, scoops=1):
                ...

            def brush():
                ...
            
            def walk(self):
                ...
    </code></pre>      
</section>
<section id="dry-explained">
	<table>
		<thead>
			<tr>
				<th><img src="images/cat.svg" width=100 height=100></th><th><img src="images/dog.svg" width=100 height=100></th>
			</tr>							
		</thead>
		<tbody style="vertical-align: top; font-size: 75%;">
            <tr><td colspan="2">Attributes</td></tr>
            <tr>
                <td>
                    <ul>
                        <li style="color:crimson">Age</li>
                        <li style="color:crimson">Weight</li>
                        <li style="color:crimson">Sex</li>
                        <li style="color:crimson">Breed</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li style="color:crimson">Age</li>
                        <li style="color:crimson">Weight</li>
                        <li style="color:crimson">Sex</li>
                        <li style="color:crimson">Breed</li>
                        <li>Is housebroken?</li>
                    </ul>
                </td>
            </tr>
            <tr><td colspan="2">Methods</td></tr>
            <tr>
                <td>
                    <ul>
                        <li style="color:crimson">Feed</li>
                        <li style="color:crimson">Brush</li>
                        <li>Change litter</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li style="color:crimson">Feed</li>
                        <li style="color:crimson">Brush</li>
                        <li>Walk</li>
                    </ul>
                </td>
            </tr>            
		</tbody>
	</table>
</section>
<section id="dry" data-background-image="images/desert.jpg">
    <h2>D.R.Y.</h2>
</section>
<section id="inheritance-diagram">
    <img src="images/inheritance-diagram.png" height=400>
</section>
<section id="animal-class">
    <pre style="font-size: 40%"><code class="hlpython" data-trim data-line-numbers>
        class Animal:

            def __init__(self, age, weight, sex, breed):
                self.age = age
                self.weight = weight
                self.sex = sex
                self.breed = breed

            def feed(self, scoops=1):
                ...

            def brush():
                ...            
    </code></pre>      
</section>
<section id="cat-class-with-inheritance">
    <pre><code class="hlpython" data-trim data-line-numbers>
        class Cat(Animal):
           
            def change_litter(self):
                ...
    </code></pre>      
</section>
<section id="dog-class-with-inheritance">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        class Dog(Animal):

            def __init__(self, age, weight, sex, breed, housebroken=True):
                super().__init__(age, weight, sex, breed)
                self.housebroken = housebroken
            
            def walk(self):
                ...
    </code></pre>      
</section>
<section id="super">
    <p>In Python, the <code>super</code> function will return the <em>parent</em> class of the current class.</p>
    <pre><code class="hlpython" data-trim>
        class Child(Parent):

            def some_method(self):
                # Super gives us access to the Parent object.
                parent_obj = super()

    </code></pre>
    <p></p>
</section>
{% endblock %}