{% extends "document_base.html" %}
{% block title %}CMSC {{ course_number }}: Assignment Six{% endblock %}
{% block extra_style %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>Assignment 6</h1>
<h2>Modifying Django Walkthrough</h2>
<hr>
<img src="images/django-pony-dark.png" width="500" style="float: right">
<p><strong>Due Date</strong>: Wednesday, April 27th, 11:59:59 PM
<p><strong>Value</strong>: 150 points<br>
<p><strong>Github Invite</strong>: <a href="https://classroom.github.com/a/ca5PT1g_">Click Here</a></p>
<p><strong>Collaboration</strong>: For Assignment 6, <em>collaboration is not allowed</em>; you must work individually.
    You may still come to office hours for help, but you may not work with any other CMSC {{ course_number }} students. You may post questions on Discord, <strong>but you may not post code</strong>.</p>
<h2>Objectives:</h2>
<ul>
    <li>Practicing interaction with a database in Django</li>
    <li>Reinforce web development concepts</li>
</ul>

<h2>Instructions</h2>

<p>Your starting point for this assignment is the django tutorial you went through for assignment 5. In this assignment,
    we are going to update our web app so that users can add and remove questions and choices themselves (rather than going through the admin interface).
</p>
<p>When you check this assignment out on GitHub, you will find a fully-functioning web app that includes all the work done as part of the tutorial.
This completed tutorial will form the starting point for this assignment. There will be four tasks to complete.
</p>
<p>Change the web app such that:</p>
<ol>
    <li>On the page where poll questions are listed (<code>polls.views.IndexView</code>) each question should have a "remove" button after it. Clicking that button will remove the question from the database and
        refresh the page (refreshing the page can be accomplished with a view that returns a <code>RedirectResponse</code>)</li>
    <li>Also on the page where poll questions are, there should be an empty text form field with a button at the end of the list of questions.
        Clicking the button will submit the form, adding a new poll question with the text from the text field to the database.</li>
    <li>On the page where poll responses are listed (<code>polls.views.DetailView</code>) there should be an empty text form field with a button to add a new choice to the poll.
        When clicked, this should refresh the page, showing the poll with the new chocie added.</li>
    <li>On the pgae where the results/votes are listed (<code>polls.views.ResultsView</code>) each response should have a "remove" button after it. Clicking that button will remove the response from the database and
        refresh the page (refreshing the page can be accomplished with a view that returns a <code>RedirectResponse</code>)</li>
</ol>
    <p>As always, feel free to ask questions in Discord if you get stuck or stumped. Here's a mock-up of how the pages cuold look after your changes:</p>
    <h2>Mockup with task #1 and #2 done:</h2>
    <img src="images/assignment_6_delete_add_poll.png">
    <h2>Mockup with task #3 done:</h2>
    <img src="images/assignment_6_add_response.png">
    <h2>Mockup with task #4 done:</h2>
    <img src="images/assignment_6_delete_response.png">

<h2>Grading Rubric</h2>
<table class="table">
        <tbody>
                <tr>
                    <td>Following the style guide</td>
                    <td>10 points</td>
                </tr>
                <tr>
                    <td>Task #1: Add a question</td>
                    <td>35 points</td>
                </tr>
                <tr>
                    <td>Task #2: Remove question</td>
                    <td>35 points</td>
                </tr>
                <tr>
                    <td>Task #3: Add choice</td>
                    <td>35 points</td>
                </tr>
                <tr>
                    <td>Task #4: Remove choice</td>
                    <td>35 points</td>
                </tr>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong>150 points</strong></td>
                </tr>
        </tbody>
</table>
{% endblock %}
