{% extends "document_base.html" %}
{% block title %}CMSC {{ course_number }}: Assignment Four{% endblock %}
{% block extra_style %}
<style>
    body {
        font-size: 110%;
   }
    .inset-image {
        width: 400px;
        float: right;
        margin-left: 100px;
    }
    .alert {
        color: #856404;
        background-color: #fff3cd;
        border-color: #eac965;
        border-width: 4px;
    }
    .alert img {
        display: block;
        float: left;
        margin-right: 20px;
    }
    dl {
        margin-left: 20px;
    }
    dt {
        float: left;
        margin-right: 5px;
    }
    .butterfly-list li:last-child {
        color: red;
    }

</style>
{% endblock %}

{% block body %}
<h1>Assignment 4</h1>
<h2>Getting to know some butterflies</h2>
<hr>
<img src="images/commonbuckeye_500_one.jpg" alt="Common Buckeye (Junonia coenia)" class="inset-image">
<p><strong>Due Date</strong>: Friday, April 1st, 11:59:59 PM
<p><strong>Value</strong>: 150 points<br>
<p><strong>Github Invite</strong>: <a href="https://classroom.github.com/a/unBNYJI2">Click Here</a></p>
<p><strong>Collaboration</strong>: For Assignment 4, <em>collaboration is not allowed</em>; you must work individually.
    You may still see your TA and come to office hours for help, but you may not work with any other CMSC {{ course_number }} students. You may post questions on Discord, <strong>but you may not post code</strong>.</p>
<h2>Objectives:</h2>
<ul>
    <li>Scrape some data from the web with Python</li>
    <li>Learn to use the <a href="https://docs.python-requests.org/en/latest/">requests</a> and <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">BeautifulSoup</a> libraries</li>
</ul>

<h2>Instructions</h2>
<h3></h3>
<p>The state of Maryland is home to many beautiful species of Butterfly.The website <a href="http://www.marylandbutterflies.com">marylandbutterflies.com</a> is designed
    to aid in the identification of these insects, and includes information on and photos of hundreds of native species. The assignment is to generate a CSV file containing data about insects by scraping a mirrored version of the site.
    An example of what the CSV file should contain is included in the GitHub assignment repository in the file <code>example_output.csv</code>.</p>

<p class="alert" role="alert">
    <img src="images/alert.png" width="75">
    The marylandbutterflies.com website is maintained as a free resource by an individual person.
    In order not to incur large bandwidth costs for this person, your Python screen scraper should <strong>never</strong>
    hit the site directly. Instead, an exact replica of the site is mirrored at <a href="http://161.35.185.186/">http://161.35.185.186/</a>.
    Make sure your code <strong>only retrieves pages from this mirrored site.</strong>
</p>
<p>Your code should access each detail page for all Maryland butterflies. You should use <code>BeautifulSoup</code> to extract these detail page links from the site's <a href="http://161.35.185.186/index.html">home page</a>
    An example detail page is <a href="http://161.35.185.186/pages/whitesandsulphurs_pinkedgedsulphur.html">this one</a> for the pink-edged sulphur.
    On that page we see the following facts:
    <dl>
        <dt>Name: </dt><dd>Pink-edged Sulphur</dd>
        <dt>Latin Name: </dt><dd>Colias interior</dd>
        <dt>Size: </dt><dd>Wingspan ranges from 1.5" - 2.6"</dd>
        <dt>Occurrence Level: </dt><dd>Rare</dd>
        <dt>Flight Period: </dt><dd>July</dd>
        <dt>Larval Host Plant: </dt><dd>Velvetleaf blueberry</dd>
    </dl>
    This is the information your scraper should extract for each butterfly.
</p>

<p>One final note: the home page contains a handful of sections of butterflies:</p>
<ul class="butterfly-list">
    <li>Swallowtails</li>
    <li>Whites and Sulphurs </li>
    <li>Gossamer Wings</li>
    <li>Metalmarks</li>
    <li>Brushfoots</li>
    <li>Satyrs & Wood Nymphs</li>
    <li>Milkweed Butterflies</li>
    <li>Spread-Winged Skippers</li>
    <li>Grass Skippers</li>
    <li>Other (Non-Maryland) Butterflies</li>
</ul>
<p>The butterflies in the last, non-Maryland section should not be scraped or appear in your output CSV.</p>

<h3>Pre-defined Python Library Usage</h3>
<p>You may use the <a href="https://docs.python-requests.org/en/latest/">requests</a> and <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">BeautifulSoup</a> libraries.
    Generating the final CSV file can be handled using the <a href="https://docs.python.org/3.9/library/csv.html#csv.writer"><code>csv.writer</code></a> function
    or <a href="https://docs.python.org/3.9/library/csv.html#csv.DictWriter">csv.DictWriter</a> class in the CSV standard library.</p>


<h2>Grading Rubric</h2>
<table class="table table-striped">
        <tbody>
                <tr>
                    <td>Following <a href="coding_standards.html">coding standards</a></td>
                    <td>30 points</td>
                </tr>
                <tr>
                    <td>CSV Includes data about all butterflies</td>
                    <td>60 points</td>
                </tr>
                <tr>
                    <td>CSV columns contain correct data</td>
                    <td>60 points</td>
                </tr>
                <tr>
                    <td>Extra credit question: which page or pages contain the largest number of butterfly photos? (Note your assignment must include Python code to answer this question).</td>
                    <td>20 points</td>
                </tr>
        </tbody>
</table>
{% endblock %}
