{% extends "document_base.html" %}
{% block title %}CMSC {{ course_number }}: Assignment Five{% endblock %}
{% block extra_style %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>Assignment 6</h1>
<h2>Build your own Webapp</h2>
<hr>
<img src="images/django-pony-dark.png" width="500" style="float: right">
<p><strong>Due Date</strong>: Friday, December 4th, 11:59:59 PM
<p><strong>Value</strong>: 150 points<br>
<p><strong>Github Invite</strong>: <a href="https://classroom.github.com/g/8p7eM7P5">https://classroom.github.com/g/8p7eM7P5</a></p>
<p><strong>Collaboration</strong>: For Assignment 6 collaboration <strong>is</strong> allowed.</p>
<h2>Objectives:</h2>
<ul>
    <li>Practicing interaction with a database in Django</li>
    <li>Reinforce web development concepts</li>
</ul>

<h2>Instructions</h2>

<p>This assignment is to build the proposal you put together in assignment 5. Your web application can be or do anything you like. The only requirements are as follows:</p>
<ul>
    <li>Your website should include some ability for users to interact with it (in other words, it should not be a <a href="https://techterms.com/definition/staticwebsite">static</a> site.</a>) </li>
    <li>Your website must be built with Django</li>
</ul>

<p>As always, feel free to ask questions in Discord if you get stuck or stumped.</p>

<h2>Grading</h2>
<p>You will be doing a 1:1 Google Hangout or Discord Session with your TA, Agatha. You will then run your project and
    navigate around your web app, demonstrating that it does what you proposed.
</p>
<p>Note: <strong>you still need to commit your code and push it to Github</strong>. See Github assignment 6 invite above.</p>

<h2>Grading Rubric</h2>
<table class="table">
        <tbody>
                <tr>
                    <td>Does your web application include some ability for users to interact with it?</td>
                    <td>50 points</td>
                </tr>
                <tr>
                    <td>Does you website do what you proposed?</td>
                    <td>100 points</td>
                </tr>
                <tr>
                    <td><strong>Total:</strong></td>
                    <td><strong>150 points</strong></td>
                </tr>
        </tbody>
</table>
{% endblock %}
