{% extends "slides_base.html" %}
{% block title %}CMSC {{ course_number }}: Lecture 7{% endblock %}
{% block extra_style %}
<style>
    .pink-block {
    background-color: #d11b85;
    color: #ffffff;
    padding: 0 10px; }

</style>
{% endblock %}

{% block slides %}
<section id="title" data-background-image="images/imaginary-plots.png">
    <h2><span class="pink-block">Lecture 6 </span></h2>
    <h2><span class="pink-block">Data formats &amp; Plotting</span></h2>
</section>
<section id="announcements">
    <h2>Announcements</h2>
    <ul>
        <li>Assignment two is due this Wednesday (March 3).</li>
    </ul>
</section>
<section id="structured-data-defintion">
    <h2>Structured Data...</h2>
    <ul>
        <li>Is Quantitative</li>
        <li>Has a defined length and format</li>
        <li>Is Machine-readable</li>
    </ul>
</section>
<section id="structured-data-examples">
    <h2>Structured Data Examples</h2>
    <ul>
        <li>Tabular or spreadsheet-like data in which each column may be a different type (string, numeric, date, or otherwise).</li>
        <li>Data from a database</li>
        <li>Data interchange formats: <code>JSON</code> or <code>XML</code></li>
        <li>Time series data, multidimensional arrays (matrices)</li>
        <li>Data retrieved from web-based APIs</li>
    </ul>
</section>
<section id="unstructured-data-defintion">
    <h2>Unstructured data</h2>
    <ul>
        <li>Information that is not organized in a pre-defined manner</li>
        <li>Generally designed for humans, not machines.</li>
        <li>Books and other documents. Prose in general...</li>
        <li>Images, audio, and video files</li>
        <li>Sometimes machines can learn the structure within</li>
    </ul>
</section>
<section id="structured-data-sources">
    <h2>Sources of data</h2>
    <ul>
    <li><a href="https://www.data.gov/">Governments</a></li>
        <li><a href="http://news.mit.edu/2020/mit-toyota-release-visual-open-data-accelerate-autonomous-driving-research-0618">Institutions of research and learning</a></li>
        <li><a href="https://github.com/Microsoft/FERPlus">Crowd-sourced</a></li>
        <li><a href="https://www.experian.com/">Private companies</a></li>
    </ul>
</section>
<section id="free-data">
    <p>Some random, free data sets:</p>
    <ul class="medium">
        <li><a href="https://www.census.gov/data.html">US Census data</a></li>
        <li><a href="https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page">NYC Taxi Trips</a></li>
        <li><a href="https://www.weather.gov/documentation/services-web-api">Forecast data for the entire US</a></li>
        <li><a href="https://registry.opendata.aws/landsat-8/">Landsat 8 (satellite imagery of all land on Earth)</a></li>
        <li><a href="https://portals.broadinstitute.org/ccle/about">Cancer cell line genomic data</a></li>
        <li><a href="https://data.cms.gov/d/s2uc-8wxp">COVID-19 Nursing Home Data</a></li>
        <li><a href="https://www.reddit.com/r/datasets/comments/1uyd0t/200000_jeopardy_questions_in_a_json_file/">200,000+  Jeopardy! Questions</a></li>
        <li><a href="https://www.fda.gov/food/compliance-enforcement-food/cfsan-adverse-event-reporting-system-caers">Food poisoning complaints in the US</a></li>
        <li><a href="https://www.kaggle.com/dansbecker/nba-shot-logs">NBA shot logs for the 2014-2015 season</a></li>
        <li><a href="https://pokemondb.net/">Database of Pokémon creatures from the entire game series.</a></li>
        <li><a href="https://doi.pangaea.de/10.1594/PANGAEA.909132">Historical yields for major crops since 1981</a></li>
        <li><a href="https://www.aminer.org/citation">Citation graph for 629,814 papers and 632,752 citations</a></li>
        <li><a href="https://data.gov.uk/dataset/452bee2c-28ea-4a2f-8005-16b9afdd8ba9/abandoned-shopping-trolleys-in-bristol-rivers">Survey of abandoned shopping carts in Bristol, UK rivers</a></li>
        <li><a href="https://www.backblaze.com/b2/hard-drive-test-data.html">Data and failure rates for 130k hard drives</a></li>
        <li><a href="https://pigeon-ndb.com/">American Racing Pigeon Union Race Result Database</a></li>
        <li><a href="http://www.cropyields.ac.uk/project.php">Middle English Crop Yields: 1211-1491</a></li>
    </ul>
</section>
<section id="data-formats" data-background-image="images/eniac.jpeg">
    <h2 style="color: #8bdf37; background: black;">Common data formats</h2>
</section>
<section id="data-formats-csv">
    <h3>CSV (comma-separated values)</h3>
    <ul>
        <li>From the days when spreadsheets roamed the land 🦕</li>
        <li>Designed for tabular data</li>
        <li>Human-readable</li>
        <li>Ubiquitous</li>
        <li>Don't parse it yourself.</li>
    </ul>
</section>
<section id="data-formats-csv-tabular-data">
    <p>Let's look at the best-seller list:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Title</th>
                <th>Units Sold</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>The Heart is a Lonely Blacksmith</td>
                <td>11293</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Hush Hush, Sweet Bruce</td>
                <td>9853</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"Freedom," I Yodeled</td>
                <td>5071</td>
            </tr>
            <tr>
                <td>4</td>
                <td>C:\Windows\For\Morons</td>
                <td>3124</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="data-formats-csv-parsing-problems-1">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
     >>> row = '1,The Heart is a Lonely Blacksmith,11293'
     >>> row.split(",")
     ["1", "The Heart is a Lonely Blacksmith", "11293"]
    </code></pre>
    <pre class="fragment fade-up" style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        >>> row = '2,Hush Hush, Sweet Bruce,9853'
        >>> row.split(",")
        ["2", "Hush Hush", " Sweet Bruce", "9853"]
       </code></pre>
</section>
<section id="data-formats-csv-parsing-problems-2">
    <pre class="python" style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
    row = '2,"Hush Hush, Sweet Bruce",9853'
    quote_open = False
    columns = []
    current_column = ""
    for char in row:
        if char == '"':
          quote_open = not quote_open
        elif char = ",":
            if not quote_open:
                columns.append(current_column)
                current_column = ""
        else:
            current_column += char
    columns.append(current_column)
    </code></pre>
    <pre class="fragment fade-up" style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
    row_3 = '3,""Freedom," I Yodeled",5071'
    </code></pre>
</section>
<section id="data-formats-csv-parsing-problems-3">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
    row = '3,"\"Freedom,\" I Yodeled",5071'
    </code></pre>
    <p class="fragment fade-up">😱</p>
</section>
<section id="data-formats-csv-parsing-problems-4">
    <h3>In the real world, parsing CSV data is very complicated.</h3>
    <h3>Don't do it.</h3>
</section>
<section id="data-formats-csv-parsing-stdlib">
    <p>Standard library to the rescue:</p>
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        import csv

        with open("data_file.csv") as file_handle:
            reader = csv.reader(file_handle)
            for row in reader:
                # Example row:
                #    ["1", "The Heart is a Lonely Blacksmith", "11293"]
                rank = int(row[0])
                title = row[1],
                units_sold = int(row[2])
    </code></pre>
</section>
<section id="data-formats-csv-parsing-headers">
    <p>CSVs often have header rows</p>
    <pre style="font-size: 50%"><code data-trim>
        rank,title,units Sold
        1,The Heart is a Lonely Blacksmith,11293
        2,"Hush Hush, Sweet Bruce",9853
        3,"""Freedom,"" I Yodeled",5071
    </code></pre>
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        import csv

        with open("data_file.csv") as file_handle:
            reader = csv.DictReader(file_handle)
            for row in reader:
                # Example row:
                #    {"rank": "1",
                #     "title": "The Heart is a Lonely Blacksmith",
                #     "units sold": "11293"}
                rank = int(row["rank"])
                title = row["title"],
                units_sold = int(row["units sold"])
    </code></pre>
</section>
<section id="data-formats-csv-limitations">
    <h3>Problems with CSV</h3>
    <ul>
        <li>Data needs to be tabular or it won't work well.</li>
        <li>Has no notion of types: everything is a string</li>
        <li>There isn't a standard for it.</li>
    </ul>
</section>
<section id="data-formats-json">
    <h3>JSON (JavaScript Object Notation)</h3>
    <ul>
        <li>More recent format</li>
        <li>Standard in web-based data sources</li>
        <li>A much more free-form data format than CSV</li>
        <li>Data can be nested</li>
        <li>Human-readable</li>
    </ul>
</section>
<section id="data-formats-json-types">
    <p>Basic types (unlike CSV)</p>
    <pre style="font-size: 50%"><code class="hljson" data-trim>
        "string"
        3.14
        null
        false
    </code></pre>
    <p>Lists</p>
    <pre style="font-size: 50%"><code class="hljson" data-trim>
    [1, "A", true]
    </code></pre>
    <p>Objects</p>
    <pre style="font-size: 50%"><code class="hljson" data-trim>
    {"a": 1, "b": 2, "c": 3}
    </code></pre>
</section>
<section id="data-formats-json-example">
    <pre style="font-size: 50%"><code class="hljson" data-trim data-line-numbers>
        [
        {
          "position": 1,
          "title": "The Heart is a Lonely Blacksmith",
          "units sold": 11293
        },
        {
          "position": 2,
          "title": "Hush Hush, Sweet Bruce",
          "units sold": 9853
        },
        {
          "position": 3,
          "title": "Freedom,\" I Yodeled\"",
          "units sold": 5071
        },
        {
          "position": 4,
          "title": "C:\\Windows\\For\\Morons",
          "units sold": 3124
        }
      ]
    </code></pre>
</section>
<section id="data-formats-json-types-2">
    <p>Nested &amp; complex data</p>
    <pre style="font-size: 50%"><code class="hljson" data-trim>
    {"name": "Ted",
    "places_lived": ["Switzerland", "Canada", "Mexico"],
    "pet": null,
    "siblings": [{"name": "Martine", "age": 24, "pets": ["Rolf"]},
                 {"name": "Fred", "age": 31,
                  "pets": ["Boto", "Formica", "Rover"]}]
   }
   </code></pre>
</section>
<section id="data-formats-json-parsing">
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
    import json

    json_data = """{"name": "Ted",
        "places_lived": ["Switzerland", "Canada", "Mexico"],
        "pet": null,
        "siblings": [{"name": "Martine", "age": 24, "pets": ["Rolf"]},
                    {"name": "Fred", "age": 31,
                    "pets": ["Boto", "Formica", "Rover"]}]}"""

    ted_data = json.loads(json_data)
    </code></pre>
</section>
<section id="data-formats-json-parsing-result">
    Our <code>ted_data</code> variable is a Python dictionary:
    <pre style="font-size: 50%"><code class="hlpython" data-trim data-line-numbers>
        {'name': 'Ted',
        'pet': None,
        'places_lived': ['Switzerland', 'Canada', 'Mexico'],
        'siblings': [{'age': 24, 'name': 'Martine', 'pets': ['Rolf']},
                     {'age': 31,
                      'name': 'Fred',
                      'pets': ['Boto', 'Formica', 'Rover']}]}
    </code></pre>
</section>
<section id="data-formats-wrap-up">
    <p>Although JSON and CSV are very common, there are an almost endless array of data formats. The one to chose will depend on many factors:</p>
    <ul>
        <li>Language you are using</li>
        <li>Whether the format needs to be human-readable</li>
        <li>How fast the the format should be to read and write</li>
        <li>The structure of the data</li>
        <li>The size of the data</li>
        <li>The systems that need to interoperate with the data</li>
    </ul>
</section>
<section id="baby-names">
    <h2>Let's look at some real data!</h2>
    <p>The Social Security Administration maintains data on the most popular names in the US since 1880!</p>
    <p>You can <a href="https://www.ssa.gov/oact/babynames/limits.html">download the data!</a></p>
</section>
<section id="baby-names-ideas">
    <ul>
        <li>What is the most popular name for a given year?</li>
        <li>What is the most unpopular name for a given year?</li>
        <li>How has a given name changed in popularity over time?</li>
    </ul>
</section>
<section id="time-for-code">
    <h2>Let's write some code! 💻</h2>
</section>
<section id="data-analysis-question">
    <p>Why are we seeing a drop in popularity for all the names we looked at?</p>
</section>
<section id="data-analysis-answer">
    <ul>
        <li>Diversity of names has increased</li>
        <li>Diversity of spellings has increased</li>
        <li>Birth rate has decreased</li>
    </ul>
</section>

{% endblock %}
