{% extends "slides_base.html" %}
{% block title %}CMSC {{ course_number }}: Lecture 13{% endblock %}

{% block extra_style %}
<style>
.two-col .html-code {
    float: left;
    width: 60%;
}
.two-col .html-code pre {
    font-size: 40%
}
.two-col .html-rendered {
    float: right;
    width: 40%;
    font-size: 90%
}
#content-vs-presentation h4 { text-transform: none;}
#content-vs-presentation em { color:rebeccapurple }
</style>
{% endblock %}

{% block slides %}
<section id="title">
	<h2>Lecture 13: HTML & CSS, Part II</h2>
    <p>CSS</p>
    <img src="images/css-joke.png">
</section>
<section id="announcements">
    <h2>Announcements</h2>
    <ul>
        <li>Assignment 3 is due Tomorrow, March 16.</li>
        <li>No late assignments.</li>
    </ul>
</section>
<section id="whole-page">
    <p>Remember our <a href="simple-page.html">simple page</a>?</p>
    <pre><code class="hlhtml" data-trim>
        &lt;!doctype html&gt;
        &lt;html lang="en"&gt;
          &lt;head&gt;
            &lt;title&gt;Hello, world!&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
            &lt;h1&gt;Hello, world!&lt;/h1&gt;
            &lt;p&gt;Here is a very small and simple document.&lt;/p&gt;
            &lt;h2&gt;Links I like:&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="http://google.com/"&gt;Google&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="http://amazon.com/"&gt;Amazon&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="http://netflix.com"&gt;Netflix&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/body&gt;
        &lt;/html&gt;
    </code></pre>
</section>
<section id="tree">
    <p>And remember the document object model (DOM) representation as a tree?</p>
    <img src="images/HTML-tree.png">
</section>
<section id="dom-layers">
    <p>Browsers expose two ways for web<br>developers to do things with the DOM</p>
    <ul>
        <li>JavaScript: interaction &amp; dynamically modifying the HTML tree</li>
        <li>Cascading Style Sheets (CSS): styling elements in the HTML tree</li>
    </ul>
</section>
<section id="css-facts">
    <h3>CSS</h3>
    <ul>
        <li>Not a programming language; a "stylesheet language"</li>
        <li>Initial release of CSS circa 1996 (the web is already  approx. 5 years old at this point)</li>
        <li>Wasn't widely supported by browsers till early 2000s</li>
        <li>Wasn't <em>correctly</em> supported by many browsers for years after that</li>
        <li>CSS support among browsers has gotten pretty good in the last 10 years or so.</li>
    </ul>
</section>
<section id="content-vs-presentation">
        <p>Designed to allow separation of <strong>content</strong> from <strong>presentation</strong></p>
        <hr>
        <h4>HTML → adding <em>semantic meaning</em>&nbsp;&nbsp;to a text document</h4>
        <h4>CSS → adding <em>presentational information</em>&nbsp;&nbsp;to an HTML document</h4>
</section>
<section id="define-style">
    <h2>What do we mean by styling?</h2>
    <ul>
        <li>Typography</li>
        <li>Color</li>
        <li>Layout</li>
        <li>Spacing &amp; positioning</li>
        <li>Borders</li>
        <li>inline vs. block</li>
    </ul>

</section>
<section id="content-vs-presentation-example">
    <p>Consider <code>&lt;h1&gt;</code>: it's for indicating the most important heading.
        "Important" doesn't imply anything about color, typeface, size, etc.</p>
</section>
<section id="presentation-with-html-onlt">
    <p>You <em>could</em> do this...</p>
    <pre class="css"><code data-trim>
    &lt;h1&gt;
        &lt;font size="16" face="Times" color="red"&gt;Big Headline&lt;/font&gt;
    &lt;/h1&gt;
    </code></pre>
    <p class="fragment fade-up">But it's extremely limited.</p>
    <p class="fragment fade-up">And not a good idea.</p>
</section>
<section id="presentation-context">
    <h2>Context & Presentation May Vary</h2>
    <div>
        <img src="images/phone-icon.png" height="200">
        <img src="images/monitor-icon.png" height="200">
        <img src="images/book-icon.png" height="200">
    </div>
    <h2>...but content stays the same.</h2>
</section>
<section id="declutters">
    <p>Separating presentation info into its own CSS file also makes the HTML far less cluttered and allows for far
        more control over how things look with less code.</p>
</section>
<section id="how-css-works">
    <p>How does CSS work?</p>
    <ul>
        <li>write a rule that matches some part of the DOM tree</li>
        <li>specify attributes that style the matched nodes</li>
        <li>Style is applied to the matched nodes and <em>all</em> their children</li>
        <li>More specific rules always override less specific ones</li>
        <li>Source of rule also determines precedence...</li>
        <li>(...that's the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Cascade">cascading part</a>)</li>
    </ul>
</section>
<section id="rule-1-definition">
    <p>RULE: Text in unordered lists should be green!</p>
    <img src="images/HTML-tree-green.png">
</section>
<section id="rule-1-result">
    <img src="images/simple-page-green.png">
</section>
<section id="rule-2-definition">
    <p>RULE: The last &lt;li&gt; in a list should be orange.</p>
    <img src="images/HTML-tree-green-orange.png">
</section>
<section id="rule-2-result">
    <img src="images/simple-page-green-orange.png">
</section>
<section id="rule-syntax">
        <p>What a CSS rule looks like</p>
        <pre class="css"><code data-trim>
            &lt;selector&gt; {
                &lt;property-1&gt;: &lt;value-1&gt;;
                &lt;property-2&gt;: &lt;value-2&gt;;
            }
        </code></pre>
</section>
<section id="selectors-universal">
        <p>Universal selector</p>
        <pre class="css"><code data-trim>
            * {
                color: green;
            }
        </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="selectors-element">
        <p>Element selector</p>
        <pre class="css"><code data-trim>
            li {
                color: green;
            }
        </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="selectors-group">
    <p>Grouping selectors</p>
    <pre class="css"><code data-trim>
        li, h2, p {
            color: green;
        }
    </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="selectors-descendant">
    <p>Selecting descendants</p>
    <pre class="css"><code data-trim>
        ul li {
            color: green;
        }
    </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="selectors-child">
    <p>Selecting children</p>
    <pre class="css"><code data-trim>
        li > a {
            color: green;
        }
    </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="selectors-pseudoclasses">
    <p>Pseudo classes</p>
    <pre class="css"><code data-trim>
        a:hover, li:last-child {
            color: green;
        }
    </code></pre>
    <img src="images/HTML-tree.png" height="400">
</section>
<section id="motivation-for-class-and-id">
    <h3>Is there a way I can designate<br>elements in my HTML for styling?</h3>
    <h2 class="fragment fade-in" style="color:seagreen">YES!</h2>
</section>
<section id="element-id">
    <p>The <code>id</code> attribute is used to specify a <em>unique</em> identifier for a <em>single</em> HTML element</p>
    <pre class="html"><code data-trim>
        &lt;a href="email:gl26499@umbc.edu" id="email-link"&gt;email me!&lt;/a&gt;
    </code></pre>
</section>
<section id="element-class">
    <p>The <code>class</code> attribute is used to specify a class or grouping for one or more HTML elements</p>
    <pre class="html"><code data-trim>
        &lt;p class="important" &gt;Here's some important text!&lt;/p&gt;
        &lt;p&gt;Here's some regular tex&lt;/p&gt;
        &lt;p class="important" &gt;And more important text!&lt;/p&gt;
    </code></pre>
</section>
<section id="class-and-id-revie∑w">
    <ul>
        <li><code>id</code> is meant for targeting a single element</li>
        <li><code>class</code> is meant for targeting multiple elements</li>
    </ul>
</section>
<section id="semantic-naming">
    <p>Remember: HTML is intended to add <em>semantic</em> meaning to documents, so try to choose you names accordingly.</p>
    <ul>
        <li>Good class names: <code>important</code>, <code>logo</code>, <code>warning</code>, <code>signup-button</code></li>
        <li>Bad class names: <code>abc123</code>, <code>redText</code>, <code>paragraph</code>, <code>bold</code></li>
    </ul>
</section>
<section id="selectors-id">
    <p>ID selectors</p>
    <pre class="css"><code data-trim>
        button#login {
            background-color: #c10547
        }
    </code></pre>
    <p style="font-size: 60%">(<code>#c10547</code> is a <a href="https://www.color-hex.com/color/c10547">hexadecimal color code</a> for <span style="color: #c10547">magenta</span>)</p>
</section>
<section id="selectors-class">
    <p>class selectors</p>
    <pre class="css"><code data-trim>
        .pagination {
            width: 500px;
        }
    </code></pre>
    <p style="font-size: 60%">Units of measurement should generally be in pixels (<code>px</code>). There are others, but they are more complex to work with.</p>
</section>
<section id="div-targeting">
    <h3>What if you need to arbitrarily<br>group some elements together?</h3>
    <p class="fragment fade-in">Use a &lt;div&gt; (probably with a class name or id)</p>
</section>
<section id="span-targeting">
    <h3>What if you need to <span style="color: red">arbitrarily<br>style</span> some text selection?</h3>
    <pre class="fragment fade-in"><code class="hlhtml" data-trim>
        &lt;h3&gt;What if you need to &lt;span class=&quot;important&quot;&gt;arbitrarily
        style&lt;/span&gt; some text selection?&lt;/h3&gt;
    </code></pre>
</section>
<section id="ugly-doc">
    <h3>Remember this ugly thing?</h3>
    <img src="images/simple-page-green.png" height="300">
    <h3 class="fragment fade-in">Let's make it look nicer...</h3>
</section>
<section id="nice-doc">
    <a href="https://mazelife.github.io/cmsc-{{ course_number }}/fancy-page.html"><img src="images/simple-page-stylish.png" height="500"></a>
    <p>View the HTML and CSS <a href="https://raw.githubusercontent.com/mazelife/cmsc-{{ course_number }}/master/docs/fancy-page.html" target="_blank">here</a>.</p>
</section>
<section id="including-css">
    <h3>There are two ways two include CSS in an HTML document that browsers will understand.</h3>
</section>
<section id="embedding-css">
    <p>Embed directly in the document's <code>&lt;head&gt;</code> section:</p>
    <pre><code class="hlhtml" data-trim>
&lt;style&gt;
    h1 {
        color: #fefefe;
    }
    p, ul, ol {
        font-face: Helvetica;
    }
&lt;/style&gt;
    </code></pre>
</section>
<section id="linking-css">
    <p>Link a file in the document's <code>&lt;head&gt;</code> section:</p>
    <pre><code class="hlhtml" data-trim>
        &lt;link rel=&quot;stylesheet&quot; src=&quot;style.css&quot;&gt;
    </code></pre>
</section>
{% endblock %}
