{% extends "slides_base.html" %}
{% block title %}CMSC {{ course_number }}: Lecture 22{% endblock %}

{% block extra_style %}
<style>
</style>

{% endblock %}

{% block slides %}
<section id="title">
    <h2>Web Development with<br>Python &amp; Django: Part V</h2>
    <p class="fragment fade-up">Deploying Django Applications</p>
</section>
<section id="announcements">
    <h2>Announcements</h2>
    <ul>
        <li><a href="assignment_06.html">Assignment #6</a> is due tomorrow (April 27th)</li>
        <li>Next up: machine learning!</li>
    </ul>
</section>
<section id="deployment">
    <h2>Deploying Django Applications</h2>
    <ul>
        <li>We've learned how to build a Django-based site</li>
        <li>But how do we make it available on the world-wide web?</li>
        <li class="fragment fade-in">There are lots of ways...</li>
    </ul>
</section>
<section id="deployment-a">
    <img src="images/web-deployment-a.png">
    <p>1-100k daily requests</p>
</section>
<section id="what-is-a-server">
    <h2>What do we mean by server?</h2>
    <ul>
        <li>A physical machine</li>
        <li>A virtual machine</li>
        <li>A container</li>
    </ul>
</section>
<section id="deployment-b">
    <img src="images/web-deployment-b.png">
    <p>100k-1 million daily requests</p>
</section>
<section id="deployment-c">
    <img src="images/web-deployment-c.png">
    <p>1-100 million daily requests</p>
</section>
<section id="deployment-d">
    <img src="images/web-deployment-d.png">
    <p>1 billion daily requests</p>
</section>
<section id="webserver-admin">
    <h3>Administering a webserver takes know-how</h3>
    <ul>
        <li>Configuring networking and security</li>
        <li>Installing and running a webserver</li>
        <li>Installing and running a database</li>
        <li>Applying security updates to the OS</li>
    </ul>
    <p class="fragment fade-left">Is there a viable alternative to having to learn all this?</p>
</section>
<section id="paas">
    <h2>Platform as a service (PaaS)</h2>
    <ul>
        <li>A cloud-based provider</li>
        <li>the consumer controls software deployment with minimal configuration options</li>
        <li>multi-tenant</li>
        <li>applications are hosted within containers</li>
    </ul>
</section>
<section id="paas-tradeoffs">
    <table>
        <thead>
            <tr><th></th><th>👍🏻</th><th>☹️</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>setup:</strong></td>
                <td>requires little expertise</td>
                <td>lack fine-grained control of infrastructure</td>
            </tr>
            <tr>
                <td><strong>support:</strong></td>
                <td>ongoing maintenance is handled for you</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>cost:</strong></td>
                <td></td>
                <td>can be quite expensive</td>
            </tr>

        </tbody>
    </table>
</section>
<section id="heroku">
   <a href="heroku.com"><img src="images/heroku-logo.png"></a>
</section>
<section id="heroku-facts">
   <img src="images/heroku-logo.png" height="200">
    <ul>
        <li>One of the earliest PaaS providers</li>
        <li class="fragment">Supports Python...</li>
        <li class="fragment">...and Ruby, Go, Java, PHP, and more</li>
        <li class="fragment">Has a free tier</li>
    </ul>
</section>
<section id="heroku-pricing">
    <table>
        <thead>
            <tr><th>Tier</th><th>Cost</th><th>What you get</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Hobby</td>
                <td>$7/month</td>
                <td>SSL</td>
            </tr>
            <tr>
                <td>Standard</td>
                <td>$25-50/month</td>
                <td>More RAM</td>
            </tr>
        </tbody>
    </table>
</section>
<section id="alternatives">
    <h2>Alternatives:</h2>
    <a href="https://www.digitalocean.com/"><img src="images/digital-ocean-logo.png" height="200" style="margin-right: 50px"></a>
    <a href="https://aws.amazon.com/"><img src="images/aws-logo.png" height="150"></a>
</section>
<section id="heroku-vocab">
    <h2>Terminology</h2>
    <ul>
        <li><strong>App</strong>: a web application (in this case a Django project)</li>
        <li><strong>Dyno</strong>: a container that runs a web application (like a Django app)</li>
    </ul>
</section>
<section id="heroku-install">
    <h3>Using Heroku</h3>
    <ol>
        <li><a href="https://signup.heroku.com/">Create an account</a> and confirm your email</li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python#set-up">Install</a> the Heroku command-line interface (CLI)</li>
        <li>run <code>heroku login</code></li>
        <li>Create a <code>Procfile</code> in the root of your Github repository</li>
    </ol>
</section>
<section id="about-procfile">
    <h3>The Procfile</h3>
    <ul>
        <li>Heroku apps include a <strong>Procfile</strong> that specifies the commands that are executed by Heroku on startup...</li>
        <li>...for example starting a Django webserver</li>
        <li>The Procfile is always a simple text file that is named <code>Procfile</code> (no file extension)</li>
        <li>The Procfile must live in your GitHub project's root directory. It does not function if placed anywhere else.</li>
        <li>Here's an example <a href="https://github.com/mazelife/cmsc-210-cheeseshop/blob/main/Procfile" target="_blank">Procfile</a> from our in-class project</li>
    </ul>
</section>
<section id="example-procfile">
    <h3>Example Procfile</h3>
    <pre><code>
release: python manage.py migrate
web: gunicorn cheeseshop.wsgi --log-file -
    </code></pre>
</section>
<section id="heroku-install-part2">
    <h3>Using Heroku (continued)</h3>
    <ol start="5">
        <li>Add a few libraries to <code>requirements.txt</code>:
            <pre><code data-trim>
Django~=4.0
# Easily configure a DB in Heroku:
dj-database-url~=0.5
# Webserver for WSGI apps
gunicorn~=20.1
# Database driver for PostgreSQL
psycopg2~=2.9
            </code></pre>
            <!--span style="font-size: 70%">(<a href="https://gunicorn.org/">Gunicorn</a> is a production-grade Python WSGI HTTP Server for UNIX</a>)</span-->
        </li>
        <li>Add a <code>runtime.txt</code> to project root, specifying Python version to use:
            <pre><code data-trim>
                python-3.10.4
            </code></pre>
        </li>
        <li>Adjust your <code>settings.py</code> file a bit. (more soon...)</li>
        <li>Commit everything to your Git repo.</li>
    </ol>
</section>
<section id="deploying-1">
    <ol start="9">
        <li>Create an app on Heroku, which prepares Heroku to receive your source code. You can do this on the Heroku site:</li>
    </ol>
    <img src="images/heroku-create-app.png">
    <!--pre><code data-trim>
$> heroku create cmsc-210-cheese-shop
    </code></pre-->
</section>
<section id="deploying-2">
    <ol start="10">
        <li>You need to create a <code>SECRET_KEY</code> for your app:</li>
    </ol>
    <p>You can do this on the command-line with the <code>heroku</code> app:</p>
    <pre><code data-trim>
heroku config:set SECRET_KEY="9&%l8tqlhr4ibpq86#gcq_wxtr8272fd"
    </code></pre>
    <p>Any settings that you don't want to store in version control (like passwords)
         or that you want to vary by environment can be specified this way</p>
</section>
<section id="deploying-2b">
    <p>You can also set these through the Heroku website</p>
    <img src="images/heroku-config.png" height="500" style="margin-top: 0px">
</section>
<section id="deploying-3">
    <p>Heroku uses Git to get your app from your local machine up to Heroku's servers.</p>
    <ol start="11">
        <li>When you create an app, you should add Heroku as an additional git remote:
            <pre><code data-trim>
$> heroku git:remote -a cmsc-210-cheeseshop
            </code></pre>
        </li>
        <li>To deploy your app, you just push to a remote git repo:
            <pre><code data-trim>
$> git push heroku main
            </code></pre>
        </li>
    </ol>
</section>
<section id="heroku-install-part3">
    <p>About that <a href="https://github.com/mazelife/cmsc-210-cheeseshop/blob/main/cheeseshop/settings.py">settings.py</a> file...</p>
</section>
<section id="app-python-shell">
    You can connect to your Dyno and run commands on it:
    <pre><code data-trim>
$> heroku run python manage.py createsuperuser
    </code></pre>
    <p>Useful for creating an admin user in our database so we can sign in.</p>
</section>
<section id="app-logs">
    If your app is having problems, the first place you should check are the logs:
    <pre><code data-trim>
$> heroku logs
    </code></pre>
</section>
<section id="adding-postgres">
    <h3>Adding a real database</h3>
    <pre><code data-trim>
$> heroku addons

Add-on                                           Plan       Price  State
───────────────────────────────────────────────  ─────────  ─────  ───────
heroku-postgresql (postgresql-corrugated-17723)  hobby-dev  free   created
 └─ as DATABASE
    </code></pre>
</section>
<section id="pg-config">
    <h3>Let's find out about our database</h3>
    <pre><code data-trim>
$> heroku config
=== cmsc-210-cheese-shop Config Vars
DATABASE_URL: postgres://**********:b4c39d26b9f48a5b989c7efe46bb677f7cc7b1a50affab89b5c26529d7c87602@ec2-3-216-89-250.compute-1.amazonaws.com:5432/d94mllmcnmq0lu
SECRET_KEY:   9&%l8tqlhr4ibpq86#gcq_wxtr8572fdHJI
    </code></pre>
<p>You can also try running:</p>
    <pre><code data-trim>
$> heroku pg
    </code></pre>
</section>
<section id="pg-facts">
    <p>What do we know so far?</p>
    <ul>
        <li>We have a hobby database (free)</li>
        <li>It is running Postgres 10.5, with no data.</li>
        <li>A connection URL is already setup in the config store</li>
    </ul>
    <p class="fragment fade-in">Now we need to adjust <a href="https://github.com/mazelife/cmsc-210-cheeseshop/blob/c9aeb75a37fed46c525e933a13359c60007a9f4d/cheeseshop/settings.py#L78-L82">our settings</a> to use this database.</p>
</section>
    {% endblock %}

